/* Below line is write to use Google font online */
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
div#main{
text-align:center;
border:1px solid #ccc;
width:40%;
padding:15px 50px 15px;
margin: auto;
box-shadow:0 0 15px;
border-radius:6px;
}

input{
width:100%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:10px;
border:3px solid #D3D3D3;
}
textarea{
width:100%;
border:3px solid #D3D3D3;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none
}
button[type="submit"]{
width:100%;
padding:10px 45px;
background-color:#A9A9A9;
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}
