@media (max-width:850px) {

h1{
    font-size: 1.0rem;
}
div{
    font-size: 1rem;
    text-align: center;
}
p{
  font-size: 1.9rem;
}
.topnav a{
  font-size: 0.8rem;
}
.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 250px;
}
}

@media (max-width:600px) {
  .topnav a{
    font-size: 0.5rem;
}
