@media (max-width:850px) {

h1{
    font-size: 1.0rem;
}
div{
    font-size: 1rem;
    text-align: center;
}
p{
  font-size: 1.9rem;
}
.topnav a{
  font-size: 0.8rem;
}
.callout {
  position: fixed;
  bottom: 15px;
  right: 10px;
  margin-left: 10px;
  max-width: 150px;
  max-height: 100px;
}
}

@media (max-width:600px) {
  .topnav a{
    font-size: 0.35rem;
}
