body{
    background-color: #696969;
    color: white;
    padding-top: 100px
}
address {
  display: block;
  font-style: italic;
  color: Yellow;
}


h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: auto;
  width: 80%
}
p {
  font-size: 1.7rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%
}
summary{
  font-size: 30px
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

details {
  text-align: center;
}


footer,
.push {
  height: 20px;
}{
 position: absolute;
 bottom: 0;
 width: 100%
}

a.skip{
  position: absolute;
  left:-200px;
}

a.skip:focus{
  position: absolute;
  left:200px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: inherit;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #D3D3D3	;
  color: black;
}

.current{
  background-color: #A9A9A9 ;
  color: black;
}


.topnav .icon {
  display: none;
}
#maincontent{
  display: flex;
  justify-content: center;
}
#parallax {
   background-attachment: scroll;
  }

.typewriter{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 2.0s steps(40, end),
    blink-caret 150s step-end infinite;
  }

.typewriter1{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 150s step-end infinite;
  }

.typewriter2{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 6.0s steps(60, end),
    blink-caret 150s step-end infinite;
  }
.typewriter3{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 9.5s steps(60, end),
    blink-caret 150s step-end infinite;
  }
.typewriter4{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 11.0s steps(60, end),
    blink-caret 150s step-end infinite;
  }
.typewriter5{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 12.0s steps(60, end),
    blink-caret 150s step-end infinite;
  }

@keyframes typing {
  from { width: 0 }
  to { width: 80% }
  }

  /* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
  }
