body{
    background-color:#0025ada6;
    color: #ffef00;
    size: 100%;

}

p{
  font-family: Arial, Courier;
  line-height: 150%
}

li{
	text-decoration: none;
	display:inline;
	background-color: #ffef00;
	color: #00efff;
}
.current{
    color: #000000;
    background: #ffef00;
    text-transform: uppercase;
}

.skip{
  position: relative;
}
