body{
    background-color: #696969;
    color: white;
    padding-top: 100px
}
address {
  display: block;
  font-style: italic;
  color: Yellow;
}


h1 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 1.7rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%
}
summary{
  font-size: 30px
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

details {
  text-align: center;
}


footer,
.push {
  height: 20px;
}{
 position: absolute;
 bottom: 0;
 width: 100%
}
.row{
  display:flex;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%
  max-width: 100%;
  height:auto;
  padding: 0 5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

a.skip{
  position: absolute;
  left:-200px;
}

a.skip:focus{
  position: absolute;
  left:200px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: inherit;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #D3D3D3	;
  color: black;
}

.current{
  background-color: #A9A9A9 ;
  color: black;
}


.topnav .icon {
  display: none;
}
#maincontent{
  display: flex;
  justify-content: center;
}
#parallax {
   background-attachment: scroll;
  }
